body {
    width: 700px;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, tr {
    border: 1px solid;
}

td:nth-child(2){
    border-right: 1px solid;
}
td:nth-child(4){
    border-right: 1px solid;
}
td:nth-child(6){
    border-right: 1px solid;
}
th {
    border-bottom: 2px solid;
}
td {
    padding: 8px;
}
.input-td {
    padding: 8px 0;
}

select {
    margin-left: 4px;
}

input {
    max-width: 100px;
    margin: 0;
}

.section {
    margin: 16px 0;
}

button {
    margin-right: 8px;
}

.rulesContainer {
    width: auto;
    border: 1px solid #8f8f8f;
    padding: 0 12px;
}

.rulesHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rulesToggleButton {
    background-color: green;
}

.hidden {
    display: none;
}

button {
    height: 23px;
    margin: 10px;
}

.removeRuleButton {
    height: 15px;
    margin: 0;
}
